.heading {
  span {
    background: $orange;
    color: #fff;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  }
}
.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.box-feature {
  padding: 5rem 2rem;
  background: #fff;
  text-align: center;
  border:$boder;
  box-shadow: $box-shadow;
  border-radius: 0.5rem;
  &:hover {
      border:0.2rem solid $orange;
    }
}
.responsive{
    display:none
}
.features-img{
    margin: 1rem auto;
    height: 15rem;
    
}
.features-h3{
    font-size: 2.5rem;
}
.fearures-p{
    font-size: 1.5rem;
    color: $light-color;
    line-height: 1.5;
    margin-bottom: 10rem;
}
@media(max-width:1350px){
    .fearures-p{
        line-height: 1.4;
        margin-bottom: 8rem;
    }
    .features-h3{
        font-size: 2.3rem;
    }
    .features-img{
        margin: 1rem auto;
        height: 13rem; 
    }
}
@media(max-width:1204px){
    .feature-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
    .fearures-p{
        line-height: 1.3;
        margin-bottom: 6rem;
    }
    .features-h3{
        font-size: 2.1rem;
    }
    .features-img{
        margin: 1rem auto;
        height: 11rem; 
    }
}
@media(max-width:991px){
    .feature-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 1.5rem;
    }
    .responsive{
        display:block;
    }
    .fearures-p{
        line-height: 1.4;
        margin-bottom: 8rem;
    }
    .features-h3{
        font-size: 2.3rem;
    }
    .features-img{
        margin: 1rem auto;
        height: 13rem; 
    }
}
@media(max-width:670px){
    .responsive{
        display:none;
    }
    .responsive1{
        display:none;
    }
    .fearures-p{
        line-height: 1.4;
        margin-bottom: 4rem;
    }
    .features-h3{
        font-size: 2rem;
    }
    .features-img{
        margin: 1rem auto;
        height: 15rem;
        width: 20rem; 
    }
}