* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border:none;
    transition: all 0.2s linear;
    color: $black;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a{
    text-decoration: none;
}

input, button, textarea {
    font-family: inherit;
}

ul {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: inherit
}

img {
    width: 100%;
    display: block;
}

